$gray: #e8e8e8;
$gray100: #9D9D9F;
$gray200: #454545;
$main: #373f50;
$blue: #5085e8;
$black: #262626;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Nanum Gothic',sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
}

li,
ul,
ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
}

.txt-bold {
  font-weight: 700;
}